body {
    font-family: Arial;
    font-size: 85%;
    color: #222;
}

ul.jobs {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.jobs li {
    float: left;
    width: 300px;
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
    min-height: 165px;
}

ul.jobs li p {
    margin: 0;
}

ul.jobs li p label {
    font-weight: bold;
    display: block;
    width: 50px;
}

.pagination {
    margin-bottom: 10px;
}

.pagination a {
    padding: 2px;
    margin: 2px;
    border: 1px solid #aaa;
    color: #222;
    text-decoration: none;
}
